
<h1> Descriptive Statistics </h1>

<h3> Nama : Safira Istifarini </h3>
<h3> NIM : 2041720229 </h3>

<h2>Daftar Isi</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
<ol>
    <li><a href="#import_data">Melakukan Import Data</a></li>
    <li><a href="#descriptive_statistics">Analisis Descriptive Statistics</a></li>
</ol>

</div>
 
<hr>

<h3> Fitur atau kolom apa yang menjadi karakteristik dari data vaksinasi?</h3>

<h2 id="import_data">1. Import Data from Module 2</h2>

<h4>Setup</h4>

 Import libraries

In [2]:
import pandas as pd
import numpy as np

 <p>load data dan menyimpan didalam dataframe df:</p>

In [3]:
path='data.csv'
df = pd.read_csv(path)
df.head()

  City_or_Regency  Vaccinated  Fully_Vaccinated  Total
0   KOTA SURABAYA       33420               0.0  33420
1      KAB GRESIK        5920               0.0   5920
2    KAB SIDOARJO        8720               0.0   8720
3    KAB LUMAJANG        2960               0.0   2960
4     KAB JOMBANG        4175               0.0   4175

<h2 id="pattern_visualization">2. Analisis Fitur Individual</h2>

<p>Kita dapat melakukan instalasi seaborn dengan cara berikut</p>

In [4]:
%%capture
! pip install seaborn

Import visualization packages "Matplotlib" dan "Seaborn", jangan lupa "%matplotlib inline" untuk melakukan plotting pada Jupyter notebook.

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline


<h4>Pertama-tama kita harus mengetahui jenis-jenis tipe data dari masing-masing variabel</h4>

In [6]:
print(df.dtypes)

City_or_Regency      object
Vaccinated            int64
Fully_Vaccinated    float64
Total                 int64
dtype: object

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h3>Pertanyaan  #1:</h3>

<b>Apakah tipe data dari "peak-rpm"? float64 </b>

</div>

Double-click <b>disini</b> untuk solusinya.

<!--berikut adalah jawabanya:

float64

-->

<p>Kita dapat menghitung korelasi antara variabel int64 dan float64 dengan method corr</p>

In [7]:
df.corr()

                  Vaccinated  Fully_Vaccinated     Total
Vaccinated          1.000000          0.522224  0.998803
Fully_Vaccinated    0.522224          1.000000  0.563375
Total               0.998803          0.563375  1.000000

The diagonal elements are always one; we will study correlation more precisely Pearson correlation in-depth at the end of the notebook.

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Pertanyaan  #2: </h1>

<p>Carilah korelasi dari kolom-kolom berikut ini: 'City_or_Regency', 'Vaccinated', 'Fully_Vaccinated', 'Total'</p>
<p>Petunjuk anda dapat menggunakan syntax berikut ini: df[['City_or_Regency', 'Vaccinated', 'Fully_Vaccinated', 'Total']]</p>
</div>

In [23]:
# Tulis code anda dan tekan Shift+Enter untuk mengeksekusi

df[['City_or_Regency', 'Vaccinated', 'Fully_Vaccinated', 'Total']].corr()

                  Vaccinated  Fully_Vaccinated     Total
Vaccinated          1.000000          0.522224  0.998803
Fully_Vaccinated    0.522224          1.000000  0.563375
Total               0.998803          0.563375  1.000000

Double-click <b>disini</b> untuk solusinya.

<!-- The answer is below:

df[['bore', 'stroke', 'compression-ratio', 'horsepower']].corr()  

-->

<h2 id="discriptive_statistics">2. Analisis Descriptive Statistics</h2>
<p> Pertama-tama kita lihat variable yang ada dengan meutilisasi method description</p>

<p>Method <b>describe</b> secara otomatis melakukan komputasi statistik untuk semua continous variable. Seluruh NaN akan ditidak dihitung didalam statistics.</p>

This will show:

<ul>
    <li>the count of that variable</li>
    <li>mean</li>
    <li>standard deviation (std)</li> 
    <li>nilai minimum</li>
    <li>IQR (Interquartile Range: 25%, 50% dan 75%)</li>
    <li>nilai maximum</li>
<ul>

 Kita dapat meutilisasi method "describe" seperti berikut ini:

In [12]:
df.describe()

         Vaccinated  Fully_Vaccinated         Total
count     49.000000         48.000000     49.000000
mean    3900.959184         63.604167   3963.265306
std     5540.115481        331.457307   5718.483084
min      180.000000          0.000000    180.000000
25%     1518.000000          0.000000   1518.000000
50%     2489.000000          0.000000   2489.000000
75%     3778.000000          0.000000   3778.000000
max    33420.000000       2268.000000  33420.000000

Secara default describe melakukan ignore terhada variabel bertype objek. Kita dapat menggunakan method describe pada variable object dengan cara sebagai berikut

In [13]:
df.describe(include=['object'])

       City_or_Regency
count               49
unique              38
top       KAB SIDOARJO
freq                 3


<h3>Value Counts</h3>
<p>Penghitungan nilai adalah cara yang baik untuk memahami berapa banyak unit dari setiap karakteristik/variabel yang kita miliki. Kita bisa menerapkan metode "value_counts" pada kolom 'Fully_Vaccinated'. Jangan lupa metode "value_counts" hanya berfungsi pada seri Pandas, bukan Pandas Dataframes. Sehingga, kita hanya menyertakan satu tanda kurung "df['Fully_Vaccinated']" bukan dua tanda kurung "df[['Fully_Vaccinated']]".</p>

In [21]:
df['Fully_Vaccinated'].value_counts()

0.0       43
148.0      1
216.0      1
379.0      1
42.0       1
2268.0     1
Name: Fully_Vaccinated, dtype: int64

Kita dapat melakukan konversi kedalam dataframe dengan cara sebagai berikut :

In [25]:
df['Fully_Vaccinated'].value_counts().to_frame()

        Fully_Vaccinated
0.0                   43
148.0                  1
216.0                  1
379.0                  1
42.0                   1
2268.0                 1

Mari ulangi langkah di atas tetapi simpan hasilnya ke dataframe "fully_vaccinated_counts" dan ganti nama kolom 'Fully_Vaccinated' menjadi 'value_counts'.

In [31]:
fully_vaccinated_counts = df['Fully_Vaccinated'].value_counts().to_frame()
fully_vaccinated_counts.rename(columns={'Fully_Vaccinated': 'value_count'}, inplace=True)
fully_vaccinated_counts

        value_count
0.0              43
148.0             1
216.0             1
379.0             1
42.0              1
2268.0            1

Sekarang mari kita ganti nama indeks menjadi 'fully_vaccinated':

In [27]:
fully_vaccinated_counts.index.name = 'fully_vaccinated'
fully_vaccinated_counts

                  All_Vaccinated
fully_vaccinated
0.0                           43
148.0                          1
216.0                          1
379.0                          1
42.0                           1
2268.0                         1

Kita dapat mengulangi proses di atas untuk variabel 'city_or_regency'.

In [30]:
# engine-location as variable
city_or_regency_counts = df['City_or_Regency'].value_counts().to_frame()
city_or_regency_counts.rename(columns={'City_or_Regency': 'value_counts'}, inplace=True)
city_or_regency_counts.index.name = 'City_or_Regency'
city_or_regency_counts.head(10)

                 value_counts
City_or_Regency
KAB SIDOARJO                3
KAB KEDIRI                  2
KOTA SURABAYA               2
KOTA PASURUAN               2
KAB GRESIK                  2
KOTA KEDIRI                 2
KAB MAGETAN                 2
KOTA MALANG                 2
KAB NGANJUK                 2
KAB NGAWI                   2

#### References
Cognitive Class, Data Analysis with Python, Course Number: DA0101EN